<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand align-items-center d-flex gap-2">
            <img src="/images/t-icon.jpg" width="32px" alt="">
            Tasks
        </div>

        <nav class="nav nav-pills">
            <a class="nav-link text-white" aria-current="page" href="/tasks">All Tasks</a>
            <a class="nav-link text-white " href="/users">Users</a>
        </nav>
        <div></div>
    </div>
</nav>

<div class="container-sm w-50 p-4 d-flex flex-column gap-2">
    <h1 class="display-5">Tasks: Alisher Shamuratov</h1>
    <hr>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Task 1</h5>
            <span class="badge bg-primary p-2">
                Alisher Shamuratov
            </span>
        </div>
        <div class="card-body">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eum quos magnam labore
                perspiciatis neque
                possimus, porro voluptas quas officia?
            </p>
        </div>
    </div>
</div>